* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

h1 {

}

h2 {

}

header {

}

nav {

}

ul {

}

li {

}

a {

}

a:hover {

}

main {

}

section {

}

h3 {

}

.card {

}

figure {

}

img {

}

.food-name {
    
}